@import 'common/variables';
@import 'common/mixins';
@import 'common/bootstrap';
@import 'common/general';

todo-list { /* stylelint-disable-line selector-type-no-unknown */
  .todo-item {
    display: inline-block;
    margin: 10px;
    background: $todo-item-background-color;
    padding: 10px 10px 10px 38px;
    width: 200px;
    min-height: 200px;
  }
}
