.student-form
  h2.student-form__heading Student Form
  .student-form__content
    input(type="text" name="studentName" placeholder="Name")
    input(type="text" name="studentGender" placeholder="Gender")
    input(type="text" name="studentAge" placeholder="Age")
    input(type="text" name="studentMath" placeholder="Math")
    input(type="text" name="studentEnglish" placeholder="English")
    input(type="text" name="studentAverage" placeholder="Average")
    button.button Insert Student