.student-list
  h2.student-list__heading Student List
  .student-list__buttons
    button.button(id="viewData") View Data
  table
    thead
      tr
        td Name
        td Gender
        td Age
        td Math
        td English
        td Average
    tbody