doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  include ./head

  body
    include ../components/header
    main.container
      block content
    include ../components/footer
    include ./scripts
