h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

body {
  background: white;
}

.button {
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 3px;
  background: none;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }
}
