/* ==============================variables=================================== */

/**
 * custom variables definition
 */
$color-light-grey: #ddd;
$color-dark-grey: #888;

$todo-item-background-color: $color-light-grey;

/**
 * Bootstrap Variable overload from the vendor
 * /vendor/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 * Overloading MUST BE USED IN PRIORITY before overriding
 */
$icon-font-path: '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$body-bg: $color-dark-grey;
