header.main-header
  nav
    ul.nav-list
      li.nav-item
        a.nav-link(href="#aboutUs") About us
      li.nav-item
        a.nav-link(href="#studentList") Student List
      li.nav-item 
        a.nav-link(href="#studentForm") Student Form
      li.nav-item
        a.nav-link(href="#contact") Contact